.header {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto 100px auto;
}
.header .header__block-right {
  display: flex;
  align-items: center;
}
.header .header__block-right .button {
  height: 50px;
  margin-left: 63px;
  padding: 0 23px;
  background: transparent;
  border: 2px solid #CD6326;
}
.header .header__block-right .button:hover {
  background: #CD6326;
}
.header .header__block-right .button:active {
  background: #8F5613;
  border-color: #8F5613;
}

.search {
  margin-left: 58px;
}