.navigation {
  display: flex;
  gap: 0 61px;
  list-style: none;

  .navigation__list {
    transition: .3s;
  }

  .navigation__list:hover {
    transform: scale(1.1);
  }

  .navigation__link {
    font: 400 23px/60px 'Open sans';
    color: #fff;
    text-decoration: none;
  }
}